/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{ 
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
nav{
  background: #0082e6;
  height: 70px;
  width: 100%;
  padding-bottom: 40px;
}
h1{
  color: white;
  font-size: 35px;
  line-height: 80px;
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 5px;
}
nav ul {
  padding: 0px;
}
nav ul li{
  display: inline-block;
  line-height: 10px;
  margin: 0 20px;
  font-color: white;
  font-size: 20px;
  
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

#check:checked ~ ul{
  left: 0;
}
}
