.w3-card-4{
	background: #0082e6;
	padding-bottom: 20px;
	width: 480px;
	left: 30%;
	margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}
.w3-card-4:hover{
	shadow: 0 0 11px rgba(33,33,33,.2);
	width: 600px;
}
.nav-bar{
	background: #2980b9;
	padding-bottom: 0px;
	text-align: center;
	padding-top: 15px;
}

